<form (ngSubmit)="newUser()" [formGroup]="form">
    <input type="text" formControlName="username" placeholder="User Name">
    <select formControlName="usercompany">
        <option>Extensis</option>
        <option>Lizardtech</option>
    </select>
    <input type="number" formControlName="userage" placeholder="Age">
    <input type="text" formControlName="userphone" placeholder="Phone">
    <input type="text" formControlName="useremail" placeholder="email">
    <input type="text" formControlName="useraddress" placeholder="Address">
    <input type="text" formControlName="usergreeting" placeholder="Greeting">
    <input type="text" formControlName="usergender" placeholder="Gender">
    <input type="text" formControlName="useractive" placeholder="Active">
</form>