<div *ngFor="let user of users">
    <img [attr.src]="user.picture" alt="">
    <br>
    <label for="user name">Name<div>{{ user.name }}</div></label>
    <label for="user age">Age<div>{{ user.age }}</div></label>
    <label for="user phone">Phone #<div>{{ user.phone }}</div></label>
    <label for="user email">Email<div>{{ user.email }}</div></label>
    <label for="user address">Address<div>{{ user.address }}</div></label>
    <label for="user greeting">Greeting<div>{{ user.greeting }}</div></label>
    <label for="user gender">Gender<div>{{ user.gender }}</div></label>
    <label for="user active">Active?<div>{{ user.isActive }}</div></label>
</div>
